/* Utilities */
@use 'base/variables' as v;

.text-center {
	text-align: center;
}

.bg-primary {
	background-color: v.$primary;
}

.bg-white {
	background-color: v.$white;
}

.margin-negative-5 {
	margin-top: -5rem;
}

.padding-bottom-0 {
	padding-bottom: 0;
}

.footer .padding-top-5 {
	padding-top: 5rem;
}
